# Arquivos do Node.js
node_modules/
npm-debug.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de configuração
.env
config.json

# Arquivos de build e cache
build/
.cache/
dist/
tmp/

# Outros arquivos
*.log
*.tmp
*.bak

# Arquivos de teste
coverage/
test_coverage/

# Sessão
desafioUber.session.sql

# Arquivos vscode
.vscode/

# Arquivos de IDE
.idea/
*.iml

# Outros arquivos ignorados
logs/
*.swp
*.swo